@media (max-width: 992px) { 
    .welcome {
        text-align: center;
        h1 {
            font-size: 28px !important;
        }
        h3 {
            font-size: 18px;
         }
        p {
            font-size: 14px;
         }
    }
 }